In [8]:
import requests
import json
import pandas as pd
from collections import defaultdict
from datetime import datetime
import matplotlib.pyplot as plt

In [4]:
#url= 'https://developer.nps.gov/api/v1/parks?limit=500&api_key=xqFhEcLhqUvnwpBJoeG6CgNuzCioAjh9m3bgGCWH' 
#r = requests.get(url)
#json_data = r.json()

In [6]:
## this saved the file, I want to save this but not run it again 
#with open('NPdata.json', 'w') as json_file:
#    json.dump(json_data, json_file)

In [9]:
#with open('NPdata.json', 'r') as json_file: # this opened the file that I made
#    json_data = json.load(json_file)

In [10]:
#json_data.keys()

dict_keys(['total', 'limit', 'start', 'data'])

In [11]:
#json_data['total']

'466'

In [12]:
#print(json_data['data'][20]['fullName'])

Apostle Islands National Lakeshore

In [13]:
#print(json_data['data'][0].keys())

dict_keys(['id', 'url', 'fullName', 'parkCode', 'description', 'latitude', 'longitude', 'latLong', 'activities', 'topics', 'states', 'contacts', 'entranceFees', 'entrancePasses', 'fees', 'directionsInfo', 'directionsUrl', 'operatingHours', 'addresses', 'images', 'weatherInfo', 'name', 'designation'])

In [14]:
#json_data['data'][20]['activities']

[{'id': '071BA73C-1D3C-46D4-A53C-00D5602F7F0E', 'name': 'Boating'},
 {'id': 'E0E4CE55-3119-46DE-86EB-6817CD8D5F30', 'name': 'Motorized Boating'},
 {'id': 'BB0B8CD0-BF4C-4517-9980-CFE2D149C7B4', 'name': 'Sailing'},
 {'id': 'A510F02B-8938-4679-A4F9-76580BCAE9C7', 'name': 'Boat Tour'},
 {'id': 'A59947B7-3376-49B4-AD02-C0423E08C5F7', 'name': 'Camping'},
 {'id': '4A58AF13-E8FB-4530-B41A-97DF0B0C77B7', 'name': 'Backcountry Camping'},
 {'id': '907E8125-15E4-483C-8EAD-B9FA1E85C6F8',
  'name': 'Canoe or Kayak Camping'},
 {'id': '7CFF5F03-5ECC-4F5A-8572-75D1F0976C0C', 'name': 'Group Camping'},
 {'id': 'AE42B46C-E4B7-4889-A122-08FE180371AE', 'name': 'Fishing'},
 {'id': '25FB188F-5AAD-459A-9092-28A9801709FF', 'name': 'Freshwater Fishing'},
 {'id': 'B33DC9B6-0B7D-4322-BAD7-A13A34C584A3', 'name': 'Guided Tours'},
 {'id': '5A241412-0CFB-497A-9B5F-0AB8C03CDE72', 'name': 'Boat Tour'},
 {'id': 'BFF8C027-7C8F-480B-A5F8-CD8CE490BFBA', 'name': 'Hiking'},
 {'id': '8386EEAF-985F-4DE8-9037-CCF91975AC94',
  'name': 'Hunting and Gathering'},
 {'id': '25559F45-F162-4B8B-BEC2-B341034A2AF4', 'name': 'Hunting'},
 {'id': '4D224BCA-C127-408B-AC75-A51563C42411', 'name': 'Paddling'},
 {'id': '256543C7-4322-48B3-8978-765E89AA9431',
  'name': 'Canoe or Kayak Camping'},
 {'id': 'F353A9ED-4A08-456E-8DEC-E61974D0FEB6', 'name': 'Kayaking'},
 {'id': 'DF4A35E0-7983-4A3E-BC47-F37B872B0F25',
  'name': 'Junior Ranger Program'},
 {'id': '42CF4021-8524-428E-866A-D33097A4A764', 'name': 'SCUBA Diving'},
 {'id': '01D717BC-18BB-4FE4-95BA-6B13AD702038', 'name': 'Snowshoeing'},
 {'id': '587BB2D3-EC35-41B2-B3F7-A39E2B088AEE', 'name': 'Swimming'},
 {'id': '82C3230F-6F87-452C-A01B-F8458867B26A', 'name': 'Freshwater Swimming'},
 {'id': '0B685688-3405-4E2A-ABBA-E3069492EC50', 'name': 'Wildlife Watching'},
 {'id': '5A2C91D1-50EC-4B24-8BED-A2E11A1892DF', 'name': 'Birdwatching'},
 {'id': '0C0D142F-06B5-4BE1-8B44-491B90F93DEB', 'name': 'Park Film'},
 {'id': '24380E3F-AD9D-4E38-BF13-C8EEB21893E7', 'name': 'Shopping'},
 {'id': '467DC8B8-0B7D-436D-A026-80A22358F615',
  'name': 'Bookstore and Park Store'},
 {'id': '43800AD1-D439-40F3-AAB3-9FB651FE45BB',
  'name': 'Gift Shop and Souvenirs'}]

In [31]:
observations = pd.read_csv('observations-141356.csv', parse_dates = [2])
observations.head(2)

,id,observed_on_string,observed_on,time_observed_at,time_zone,quality_grade,description,place_guess,latitude,longitude,place_town_name,place_county_name,place_state_name,place_country_name,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,2248,2008-08-08,2008-08-08,NaN,Central Time (US & Canada),research,NaN,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,NaN,Park,Wyoming,United States,Bison Am√©ricain,Bison bison,American Bison,Mammalia,42408
1,2690,2009-05-14,2009-05-14,NaN,Central Time (US & Canada),research,NaN,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,NaN,Monroe,Florida,United States,West Indian Manatee,Trichechus manatus,West Indian Manatee,Mammalia,46316

In [32]:
observation = observations.drop(['id', 'observed_on_string', 'time_observed_at', 'time_zone', 'quality_grade','description', 'place_town_name','species_guess','taxon_id' ], axis= 1)
observation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16587 entries, 0 to 16586
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   observed_on         16587 non-null  datetime64[ns]
 1   place_guess         16587 non-null  object
 2   latitude            16586 non-null  float64
 3   longitude           16586 non-null  float64
 4   place_county_name   16556 non-null  object
 5   place_state_name    16583 non-null  object
 6   place_country_name  16571 non-null  object
 7   scientific_name     16587 non-null  object
 8   common_name         16568 non-null  object
 9   iconic_taxon_name   16587 non-null  object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 1.3+ MB

In [33]:
observation['place_country_name'].unique()

array(['United States', nan, 'Argentina'], dtype=object)

In [34]:
print(observation[observation['place_country_name'].isnull()]['place_guess'].unique())

['Virgin Islands National Park, Cruz Bay, VI, US'
 'Channel Islands National Park, Channel Islands, US-CA, US'
 'Virgin Islands National Park, St John, VI, US'
 'Virgin Islands National Park, Coral Bay, VI, US'
 'Channel Islands National Park, Channel Islands, Santa Barbara County, US-CA, US'
 'Sequoia and Kings Canyon National Parks, US-CA, US'
 'Virgin Islands National Park, St. John, United States Virgin Islands, US'
 'Jaime Benitez National Park, San Juan, PR, US']

In [35]:
print(observation[observation['place_country_name']== 'Argentina'])

      observed_on                                        place_guess  \
6518   2010-08-06  Tierra del Fuego National Park, AR-TF-US, AR-T...
6587   2019-04-28  Tierra del Fuego National Park, AR-TF-US, AR-T...
6588   2019-04-28  Tierra del Fuego National Park, AR-TF-US, AR-T...
12781  2020-07-18  Tierra del Fuego National Park, AR-TF-US, AR-T...

        latitude  longitude place_county_name  place_state_name  \
6518  -54.850688 -68.589061           Ushuaia  Tierra del Fuego
6587  -54.859342 -68.565695           Ushuaia  Tierra del Fuego
6588  -54.859322 -68.564183           Ushuaia  Tierra del Fuego
12781 -54.808661 -68.595557           Ushuaia  Tierra del Fuego

      place_country_name              scientific_name        common_name  \
6518           Argentina  Lycalopex culpaeus lycoides     Fuegian Culpeo
6587           Argentina            Castor canadensis    American Beaver
6588           Argentina            Castor canadensis    American Beaver
12781          Argentina           Abrothrix olivacea  Olive Grass Mouse

      iconic_taxon_name
6518           Mammalia
6587           Mammalia
6588           Mammalia
12781          Mammalia

In [36]:
observation = observation.drop(observation[observation['place_country_name']== 'Argentina'].index)

In [37]:
observation.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia

In [38]:
parks = pd.read_csv('parks_unique.csv')

In [39]:
parks.head()

   Unnamed: 0          0
0           0    Acadia
1           1    Arches
2           2  Badlands
3           3  Big Bend
4           4  Biscayne

In [40]:
parks = parks.drop('Unnamed: 0', axis = 1)
parks.head()

           0
0    Acadia
1    Arches
2  Badlands
3  Big Bend
4  Biscayne

In [41]:
parks.rename(columns={'0':'park'}, inplace = True)

In [42]:
parks.head()

        park
0    Acadia
1    Arches
2  Badlands
3  Big Bend
4  Biscayne

In [43]:
#this is from stackoverflow I'm not understanding how to make it work
#df1[ df1['movie'].apply(lambda title: df2['FILM'].str.contains(title)).any(1) ]
#parks[parks['park'].apply(lambda park: observation['place_guess'].str.contains(park)).any(1) ]

In [43]:
observation.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name
0,2008-08-08,"Yellowstone National Park, Park County, US-WY, US",44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia
1,2009-05-14,"Everglades National Park, Monroe County, US-FL...",25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia
2,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia
3,2009-06-08,"Kings Canyon/Sequoia National Park, NV, US",36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia
4,2010-04-11,"Kings Canyon/Sequoia National Park, NV, US",36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia

In [44]:
#this is not working and it takes forever. there has to be a better way .contains()? list comprehension?
from fuzzywuzzy import process
for park in parks['park']:
    matches = process.extract(park, observation['place_guess'], limit = observation.shape[0])
    for potential_match in matches:
        if potential_match[1] >= 80:
            observation.loc[observation['place_guess'] == potential_match[0], 'place_guess'] = park

In [30]:
observation.head()

,observed_on,place_guess,latitude,longitude,place_county_name,place_state_name,place_country_name,scientific_name,common_name,iconic_taxon_name
0,2008-08-08,Gateway Arch,44.811585,-110.481333,Park,Wyoming,United States,Bison bison,American Bison,Mammalia
1,2009-05-14,Mesa Verde,25.153938,-80.851790,Monroe,Florida,United States,Trichechus manatus,West Indian Manatee,Mammalia
2,2009-06-08,Kings Canyon,36.489655,-118.779289,Tulare,California,United States,Odocoileus hemionus californicus,California Mule Deer,Mammalia
3,2009-06-08,Kings Canyon,36.520012,-118.795425,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia
4,2010-04-11,Kings Canyon,36.524426,-118.751480,Tulare,California,United States,Otospermophilus beecheyi,California Ground Squirrel,Mammalia

1.) kings canyon and sequoia national park are adjacent, replace values with both afterward? this needs to be investigated more
2.) goal here is to groupby park, year/month, species. Could also do groupby park and total, species
3.) see bears 1 or 0, see bison 1 or 0. probably should do a threshold for no. of observations. this could be very wide with many species or I could do just a few charismatic megafauna

In [ ]:
#kings canyon and sequoia national park are adjacent, replace values with both afterward? this needs to be investigated more